.nav{
  width: calc(100% - 125px);

  &_block{
    display: flex;
    justify-content: flex-end;

  }
  &_list{
    list-style-type: none;
    margin-right: 42px;
    &:nth-last-child(1){
      margin-right: 0;
    }

  }
  &_link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    text-align: right;
    &:hover{
      color: #ff9b51;
    }

  }

}