@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background: #FFF; }

.wrapper {
  display: flex;
  flex-direction: row; }

.content {
  width: calc(100% - 200px);
  background: white; }

.input {
  width: 590px;
  height: 79px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: var(--colors-light-gray, rgba(133, 133, 133, 0.8));
  font-family: "Roboto",'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  margin-top: 30px; }

.menu {
  width: 200px;
  background: #3D3D3D;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 40px 13px 0 13px; }
  .menu a {
    color: white; }
  .menu_content_left {
    width: 174px;
    margin-top: 55px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; }
  .menu ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .menu li {
    margin-bottom: 18px; }
    .menu li div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 200px; }
    .menu li img {
      cursor: pointer;
      margin-right: 12px; }
  .menu li p {
    cursor: pointer;
    color: #FFF;
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
    .menu li p:hover {
      color: #b0a3a3; }
  .menu ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px; }
  .menu ul ul {
    display: none;
    margin-left: 15px; }
  .menu ul ul li a {
    margin-bottom: 12px;
    margin-top: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal; }
    .menu ul ul li a:hover {
      color: white; }
  .menu ul ul li {
    margin-bottom: 12px;
    margin-top: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal; }
    .menu ul ul li:hover {
      color: white; }
  .menu .arrow {
    transition: transform 0.3s ease-in-out; }
  .menu .rotated {
    transform: rotate(-180deg); }
  .menu .visible {
    display: block; }

.languages {
  position: relative; }

.language-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer; }

.arrow-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out; }

.rotated {
  transform: rotate(180deg); }

.language-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000; }

.language-list.active {
  display: block; }

.language-list li {
  padding: 10px 20px;
  cursor: pointer; }

.language-list li:hover {
  background-color: #f4f4f4; }

.share-button-container {
  position: relative; }
  .share-button-container button {
    width: 135px;
    height: 44px;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid var(--colors-gray, rgba(0, 0, 0, 0.8));
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 25px;
    margin-right: 66px; }

.share-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.share-button img {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  object-fit: cover; }

.share-icons {
  width: 266px;
  height: 114.583px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000; }
  .share-icons span {
    position: absolute;
    top: -14px;
    left: 118px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5965px 14.954px 17.5965px;
    border-color: transparent transparent #ccc transparent; }

.share-icons img {
  width: 24px;
  height: 24px; }

.edit-button-container {
  position: relative; }

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .edit-button button {
    width: 24px;
    height: 24px; }

.edit-button img {
  margin-left: 5px; }

.edit-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000; }

.edit-options p {
  margin: 5px 0;
  cursor: pointer; }

.edit-options p:hover {
  background-color: #f4f4f4; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

.modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 500px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; }
    .modal form input {
      display: flex;
      width: 450px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 14px;
      border: none;
      background: none;
      border-bottom: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8));
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
      .modal form input:focus {
        outline: 0;
        border-bottom: 1px solid #03a9f4;
        box-shadow: none;
        background-color: #eee; }
    .modal form button {
      width: 96px;
      height: 31px;
      border-radius: 10px;
      border: 1px solid var(--colors-light-green, #78BDC6);
      background: var(--colors-light-green, #78BDC6);
      color: var(--light-gray-2, #ffffff);
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 30px;
      margin-left: 355px; }
      .modal form button:hover {
        background: var(--colors-light-green, #76a2a8); }
  .modal .close {
    position: absolute;
    right: 14px;
    top: 7px; }

.home {
  width: 100%;
  background-image: url("../image/home/Vector_home.png"), url("../image/home/Vector_home2.png"), url("../image/home/Desk_calendar_1.png"), url("../image/home/Desk_calendar_2.png"), url("../image/home/Desk_calendar_home3.png"), url("../image/home/Desk_calendar_home4.png"), url("../image/home/Desk_calendar_1.png"), url("../image/home/Desk_calendar_2.png"), url("../image/home/Desk_calendar_2.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1345px 2676px, 566px 2617px, 186.906px 186.906px, 237px 237px, 200.251px 200.251px, 200.251px 200.251px, 200.251px 200.251px, 200.251px 200.251px, 200.251px 200.251px;
  background-position: -9%, 100%, 12% 5%, 85% 4%, -1% 34%, 90% 34%, 17% 75%, 83% 85%, -3% 102%;
  margin: 0 auto;
  border: 1px solid;
  overflow: hidden; }
  .home_header {
    width: 100%;
    height: 125px; }
  .home_main {
    width: 1223px;
    height: 490px;
    text-align: center;
    display: flex;
    margin: 163px auto;
    padding: 100px 20px; }
  .home_img {
    width: 643px;
    height: 489.727px;
    object-fit: cover; }
  .home_main_text {
    width: 563px;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
    justify-content: flex-end; }
    .home_main_text h1 {
      width: 405px;
      height: 105px;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .home_main_text p {
      width: 563px;
      height: 91px;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .home_aside {
    width: 1200px;
    height: 171px;
    margin: 133px auto;
    display: flex;
    align-items: center;
    gap: 82px; }
  .home_item_aside_1 {
    display: flex;
    width: 818px;
    height: 171px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px; }
    .home_item_aside_1 h1 {
      font-family: "Roboto", 'Sans-Serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .home_item_aside_1 p {
      font-family: "Roboto", 'Sans-Serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .home_item_aside_2 {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .home_item_aside_2 h2 {
      font-family: "Roboto", 'Sans-Serif';
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .home_item_aside_2 p {
      font-family: "Roboto", 'Sans-Serif';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .home_item_aside_2 img {
      width: 48px;
      height: 48px; }
  .home_item_aside_star {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
  .home_slider {
    width: 100%;
    height: 386px;
    margin: 109px auto;
    flex-shrink: 0;
    position: relative;
    padding: 46px 170px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: center; }
    .home_slider h2 {
      font-family: "Roboto", 'Sans-Serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
  .home_slider_content {
    width: 1259px;
    height: 294px;
    display: flex;
    justify-content: center;
    position: relative; }
  .home_slider_box {
    opacity: 0.3;
    background: var(--colors-light-green, #78BDC6);
    position: absolute;
    height: 386px;
    width: 100%;
    top: 0;
    left: 0; }
  .home_slider_item_1 {
    width: 1003px;
    height: 197px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute; }
    .home_slider_item_1 img {
      width: 160px;
      height: 32px; }
    .home_slider_item_1 p {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: center;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .home_slider_item_1 span {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: center;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: normal; }
  .home_slider_btn_next {
    background: none;
    position: absolute;
    cursor: pointer;
    border: none;
    width: 48px;
    height: 48px;
    top: 76px;
    left: -90px; }
    .home_slider_btn_next:hover {
      width: 52px;
      height: 52px; }
    .home_slider_btn_next img {
      width: 48px;
      height: 48px; }
  .home_slider_btn_preview {
    cursor: pointer;
    background: none;
    position: absolute;
    border: none;
    width: 48px;
    height: 48px;
    top: 76px;
    right: -70px; }
    .home_slider_btn_preview:hover {
      width: 52px;
      height: 52px; }
    .home_slider_btn_preview img {
      width: 48px;
      height: 48px; }
  .home_application {
    width: 100%;
    height: 235px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px; }
    .home_application h3 {
      color: #000;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .home_application p {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: center;
      font-family: "Roboto", 'Sans-Serif';
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: normal; }
  .home_application_img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  .home_footer {
    width: 100%;
    height: 324px;
    margin-top: 109px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .home_footer_box {
    opacity: 0.3;
    background: var(--colors-light-green, #78BDC6);
    position: absolute;
    height: 324px;
    width: 100%;
    top: 0;
    left: 0; }
  .home_footer_content {
    width: 615px;
    height: 260px;
    margin: 32px auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between; }
  .home_footer_item_1 h4 {
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", 'Sans-Serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center; }
  .home_footer_item_1 p a {
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", 'Sans-Serif';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 207.188%;
    /* 29.006px */ }
  .home_footer_item_1 p {
    position: relative; }
  .home_footer_item_1 p:nth-of-type(1) a span {
    position: absolute;
    top: -3px;
    right: 10px; }
  .home_footer_item_1 p:nth-of-type(2) a span {
    position: absolute;
    top: -3px;
    right: -7px; }
  .home_footer_logo {
    margin-bottom: 40px; }
  .home_footer_item_2 a {
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", 'Sans-Serif';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 207.188%;
    /* 24.863px */
    margin-right: 22px; }
  .home_footer_item_2 a:nth-last-child(1) {
    margin-right: 0; }

.login {
  width: 100%;
  height: 100vh;
  background-image: url("../image/register/VectorLogin1.png"), url("../image/register/VectorLogin2.png");
  background-repeat: no-repeat;
  background-size: 1303px 1851px, 647.942px 934.438px rotate(-131.393deg);
  background-position: 1px 1px, 103% 101%;
  margin: 0 auto;
  overflow: hidden; }
  .login_container {
    width: 100%;
    height: 487px;
    margin-top: 218px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end; }
    .login_container img {
      height: 426px;
      object-fit: cover;
      margin-bottom: 30px; }
  .login_content {
    width: 1353px;
    height: 487px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly; }
  .login__form {
    width: 590px;
    height: 487px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start; }
    .login__form h1 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
  .login_label {
    width: 590px;
    height: 25px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .login_label a {
      color: var(--colors-yellow, #F5C75A);
      font-family: "Roboto", 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer; }
  .login_label_content {
    width: 171px;
    height: 25px;
    margin-right: 15px;
    color: var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    font-family: "Roboto", 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .login_checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8)); }
@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1); }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    transform: scale(1.1); } }
  .login_btn {
    width: 590px;
    height: 79px;
    font-family: 'Roboto', sans-serif;
    color: #ED627D;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid #ED627D;
    background: white;
    margin-top: 50px; }
    .login_btn:hover {
      color: #FFF;
      font-family: "Roboto", 'sans-serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 40px;
      background: #ED627D;
      animation: myAnim 1s ease 0s 1 normal forwards; }

.signUp {
  width: 100%;
  height: 100vh;
  background-image: url("../image/register/VectorSignup.png");
  background-repeat: no-repeat;
  background-size: 1714.109px 1482px;
  background-position: 108%, 1%;
  margin: 0 auto;
  overflow: hidden; }
  .signUp_container {
    width: 100%;
    height: 603px;
    margin-top: 161px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end; }
    .signUp_container img {
      width: 592px;
      height: 456px;
      object-fit: cover;
      margin-bottom: 60px; }
  .signUp_content {
    width: 1200px;
    height: 501px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly; }
  .signUp__form {
    width: 590px;
    height: 603px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start; }
    .signUp__form h1 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
  .signUp_input_name input {
    width: 287px;
    height: 79px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    font-family: "Roboto",'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
    margin-top: 44px; }
  .signUp_label {
    width: 171px;
    height: 25px;
    margin-right: 15px;
    color: var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    font-family: "Roboto", 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px; }
  .signUp_checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8)); }
@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1); }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    transform: scale(1.1); } }
  .signUp_btn {
    width: 590px;
    height: 79px;
    font-family: 'Roboto', sans-serif;
    color: #299CAA;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid #299CAA;
    background: white;
    margin-top: 50px; }
    .signUp_btn:hover {
      color: #FFF;
      font-family: "Roboto", 'sans-serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 40px;
      background: #299CAA;
      animation: myAnim 1s ease 0s 1 normal forwards; }

.reset {
  width: 100%;
  height: 100vh;
  background-image: url("../image/register/VectorReset1.png"), url("../image/register/VectorReset2.png");
  background-repeat: no-repeat;
  background-size: 1031px 1439px, 954.196px 1568.282px rotate(-139.455deg);
  background-position: -9px 1px, 100% 45%; }
  .reset_container {
    width: 100%;
    height: 487px;
    margin-top: 218px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end; }
    .reset_container img {
      height: 426px;
      object-fit: cover;
      margin-bottom: 30px;
      margin-left: 60px; }
  .reset_content {
    width: 1353px;
    height: 487px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly; }
  .reset__form {
    width: 590px;
    height: 487px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start; }
    .reset__form h1 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .reset__form a {
      color: var(--colors-light-gray, rgba(133, 133, 133, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
      text-align: center;
      margin: 30px auto;
      cursor: pointer; }
@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1); }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    transform: scale(1.1); } }
  .reset_btn {
    width: 590px;
    height: 79px;
    font-family: 'Roboto', sans-serif;
    color: var(--colors-yellow, #F5C75A);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #F5C75A;
    margin-top: 50px; }
    .reset_btn:hover {
      color: #FFF;
      font-family: "Roboto", 'sans-serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 40px;
      background: #F5C75A;
      animation: myAnim 1s ease 0s 1 normal forwards; }

.dashboard {
  width: 100%;
  height: 2717px;
  background-image: url("../image/dasboard/VectorDasborad1.png"), url("../image/dasboard/Vector2.png"), url("../image/dasboard/Desk_calendar_1.png"), url("../image/dasboard/Desk_calendar_2.png"), url("../image/dasboard/Desk_calendar_3.png"), url("../image/dasboard/Desk_calendar_3- 5.png"), url("../image/dasboard/Desk_calendar_3- 5.png");
  background-repeat: no-repeat;
  background-position: -223% -4%, -18% 101%, -1% 0, 87% 21%, 100% 64%, 67% 100%;
  background-size: 1653px 1784px, 1249.882px 1686.81px, 237px 237px rotate(-24.17deg), 237px 237px rotate(29.331deg), 237px 237px rotate(12.742deg), 237px 237px rotate(-42.412deg), 237px 237px rotate(-42.412deg); }
  .dashboard_main {
    width: calc(100% - 200px);
    height: 100vh; }
  .dashboard_header {
    width: 100%;
    height: 98px; }
  .dashboard_header_content {
    width: 1275px;
    height: 98px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap; }
  .dashboard_search {
    position: relative;
    width: 669px;
    height: 71px; }
    .dashboard_search input {
      border-radius: 40px;
      border: 1px solid #000;
      font-family: "Roboto", "sans-serif";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 69px; }
    .dashboard_search img {
      position: absolute;
      width: 30px;
      height: 30px;
      z-index: 999;
      top: 23px;
      left: 17px; }
  .dashboard_user {
    width: 237px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 53px; }
    .dashboard_user img {
      width: 71px;
      height: 70px;
      border-radius: 50px;
      object-fit: cover; }
    .dashboard_user h2 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
  .dashboard_title {
    width: 1275px;
    height: 42px;
    margin: 58px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center; }
    .dashboard_title h3 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .dashboard_title h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: center;
      font-family: "Roboto", "sans-serif";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
  .dashboard_calendar {
    display: flex;
    width: 148px;
    align-items: center;
    justify-content: space-evenly;
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
    .dashboard_calendar button {
      border: none;
      background: none; }
  .dashboard_container {
    width: 1275px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center; }
    .dashboard_container_title {
      height: 22px;
      margin-top: 0; }
  .dashboard_creat {
    width: 106px;
    height: 28px; }
    .dashboard_creat button {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: center;
      font-family: "Roboto", "sans-serif";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer; }
  .dashboard_container_items {
    width: 1275px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .dashboard_item {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    height: 220px;
    cursor: pointer; }
    .dashboard_item p {
      margin-left: 32px;
      margin-bottom: 11px;
      color: #FFF;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .dashboard_item h4 {
      margin-left: 8px;
      color: #FFF;
      font-family: "Roboto", 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .dashboard_item div {
      display: flex;
      align-items: center;
      margin-bottom: 27px; }
    .dashboard_item:nth-child(-n + 4) {
      width: calc((100% / 4) - ((50 / 2) * 1px)); }
    .dashboard_item:nth-child(1) {
      border-radius: 20px;
      background: var(--colors-purple, #AB68FF); }
    .dashboard_item:nth-child(2) {
      border-radius: 20px;
      background: var(--colors-light-green, #78BDC6); }
    .dashboard_item:nth-child(3) {
      border-radius: 20px;
      background: var(--colors-yellow, #F5C75A); }
    .dashboard_item:nth-child(4) {
      border-radius: 20px;
      background: var(--colors-pink, #ED627D); }
  .dashboard_in_progress {
    margin-top: 83px;
    margin-left: 82px; }
    .dashboard_in_progress h3 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      text-align: left;
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
  .dashboard_in_progress_item1 {
    width: 1044px;
    /* height: 537.024px; */
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background: var(--neutral-colors-white, #FFF);
    box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
    background: white; }
  .dashboard_edit {
    margin-right: 315px;
    margin-top: 70px; }

.form-search {
  width: 669px;
  height: 71px; }

.hidden {
  display: none; }

#languageList.active {
  display: block;
  position: absolute;
  padding: 10px;
  margin-left: -51px;
  border: 1px solid;
  background: grey; }

.access {
  width: 100%;
  background-image: url("../image/home/Vector1.png"), url("../image/home/Vector2.png");
  background-repeat: no-repeat;
  background-size: 536px 1498px, 815px 2207px;
  background-position: -8% 1%,  105% 1%;
  margin: 0 auto;
  overflow: hidden; }
  .access h2 {
    margin-top: 44px;
    margin-left: 239px; }
  .access_container {
    width: 895px;
    height: 676px;
    border-radius: 10px;
    border: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    margin: 65px auto;
    padding: 66px; }
    .access_container h4 {
      margin-bottom: 21px;
      color: #000;
      font-family: "Roboto", 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
  .access_content {
    width: 765px;
    height: 500px;
    margin: 0 auto; }
  .access_item {
    width: 765px;
    height: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    border-top: 1px solid rgba(133, 133, 133, 0.8); }
    .access_item:nth-last-child(1) {
      border-bottom: 1px solid rgba(133, 133, 133, 0.8); }
    .access_item a {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
      .access_item a:hover {
        background: #d2ecef; }
      .access_item a p {
        margin-left: 12px; }
  .access_footer {
    width: 100%;
    height: 387px;
    position: relative;
    display: flex;
    justify-content: center; }
  .access_con {
    display: flex;
    width: 1600px;
    align-items: flex-start;
    justify-content: space-around;
    position: relative; }
  .access_footer_content {
    width: 100%;
    height: 387px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: var(--colors-light-green, #78BDC6); }
  .access_footer_item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 93px; }
    .access_footer_item1 h3 {
      margin-bottom: 10px;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
    .access_footer_item1 p {
      margin-bottom: 35px;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
    .access_footer_item1 span {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px; }
    .access_footer_item1 a {
      color: var(--colors-pink, #ED627D);
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
  .access_footer_item2 {
    width: 361px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }

.settings {
  width: 100%;
  height: 100vh;
  padding-left: 100px;
  background-image: url("../image/settings/Vector1.png"), url("../image/settings/Vector2.png");
  background-repeat: no-repeat;
  background-size: 536px 1802px, 957px 1850px;
  background-position: -5% -2%, 109% -3%; }
  .settings_header {
    width: 1098px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px; }
    .settings_header h2 {
      color: #000;
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal; }
  .settings_user {
    width: 237px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 65px; }
    .settings_user h3 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .settings_user img {
      width: 71px;
      height: 70px;
      border-radius: 50px; }
    .settings_user button {
      border: none;
      background: none;
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 62px; }
      .settings_user button img {
        width: 18px;
        height: 18px;
        object-fit: cover; }
  .settings_user_info {
    width: 920px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .settings_user_change_userName {
    border-radius: 10px;
    border: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    width: 651px;
    height: 293px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 21px; }
    .settings_user_change_userName h4 {
      margin-bottom: 28px;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .settings_user_change_userName .label {
      position: relative; }
    .settings_user_change_userName label {
      position: absolute;
      top: 15px;
      left: 17px; }
    .settings_user_change_userName button {
      position: absolute;
      right: 62px;
      top: 13px;
      border: none;
      background: none;
      cursor: pointer; }
    .settings_user_change_userName input {
      display: flex;
      width: 589px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 14px 70px 9px 120px;
      border: none;
      background: none;
      border-bottom: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8));
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
      .settings_user_change_userName input:focus {
        outline: 0;
        border-bottom: 1px solid #03a9f4;
        box-shadow: none;
        background-color: #eee; }
  .settings_user_password_change {
    border-radius: 10px;
    border: 1px solid var(--colors-light-gray, rgba(133, 133, 133, 0.8));
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 254px;
    height: 137px;
    padding: 20px; }
    .settings_user_password_change h4 {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .settings_user_password_change button {
      color: var(--colors-green, #299CAA);
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      background: none;
      cursor: pointer; }

.history {
  width: 100%;
  height: 100vh; }

.task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../image/task/Vector1.png"), url("../image/task/Vector2.png"), url("../image/task/Desk_calendar1.png"), url("../image/task/Desk_calendar 2.png"), url("../image/task/Desk_calendar3.png"), url("../image/task/Desk_calendar4.png");
  background-repeat: no-repeat;
  background-position: -3% 0, 102% 0, 22% 5%, 77% 0, 17% 77%, 65% 101%;
  background-size: 1171px 1063px, 321px 1024px, 120.684px 120.684px, 120.684px 120.684px, 120.684px 120.684px, 120.684px 120.684px;
  /* Radial Out */ }
  .task_header {
    display: flex;
    width: 100%;
    padding: 37px; }
  .task_header_content {
    width: 400px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 220px; }
    .task_header_content h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 12px; }
    .task_header_content img {
      width: 24px;
      height: 24px;
      object-fit: cover; }
    .task_header_content button {
      border: none;
      background: none;
      cursor: pointer; }
  .task_title {
    display: flex;
    margin-left: 40px; }
  .task_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 37px; }
  .task_form_item1_title {
    width: 152px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; }
    .task_form_item1_title h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .task_form {
    border: 1px solid;
    border-radius: 10px;
    width: 900px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 90px; }
  .task_input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: 15px 65px 15px 16px;
    border: none;
    border-bottom: 1px solid #000;
    width: 500px;
    margin-bottom: 35px;
    background: none;
    color: var(--colors-light-gray, rgba(133, 133, 133, 0.99));
    font-family: "Roboto", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
    .task_input:focus {
      outline: 0;
      border-bottom: 1px solid #03a9f4;
      box-shadow: none;
      background-color: rgba(238, 238, 238, 0.68); }
  .task_add_category {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .task_add_category p {
      color: red; }
  .task .hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    color: red;
    transition-property: color;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red; }
  .task .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #299CAA;
    border-radius: 100%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .task .hvr-radial-out:hover, .task .hvr-radial-out:focus, .task .hvr-radial-out:active {
    color: white;
    border: none; }
  .task .hvr-radial-out:hover:before, .task .hvr-radial-out:focus:before, .task .hvr-radial-out:active:before {
    transform: scale(2); }
  .task_category_btn {
    margin-top: 19px;
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 750px;
    /* Sweep To Right */ }
    .task_category_btn p {
      font-size: 16px;
      margin-right: 10px; }
    .task_category_btn span img {
      margin-right: 8px; }
    .task_category_btn span:nth-child(1) {
      background: var(--colors-yellow, #F5C75A); }
    .task_category_btn span:nth-child(2) {
      background: var(--colors-purple, #AB68FF); }
    .task_category_btn span:nth-child(3) {
      background: var(--colors-green, #66d2e0); }
    .task_category_btn span:nth-child(4) {
      width: 160px;
      background: var(--colors-pink, #ED627D); }
    .task_category_btn .hvr-sweep-to-right {
      margin: 10px;
      width: 124px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1dd0a5;
      color: #FFF;
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /* 142.857% */
      letter-spacing: 0.1px;
      border: none;
      cursor: pointer;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      transition-property: color;
      transition-duration: 0.3s;
      cursor: pointer; }
    .task_category_btn .hvr-sweep-to-right:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #299CAA;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      border-radius: 8px; }
    .task_category_btn .hvr-sweep-to-right:hover, .task_category_btn .hvr-sweep-to-right:focus, .task_category_btn .hvr-sweep-to-right:active {
      color: #0c110c;
      border-radius: 8px; }
    .task_category_btn .hvr-sweep-to-right:hover:before, .task_category_btn .hvr-sweep-to-right:focus:before, .task_category_btn .hvr-sweep-to-right:active:before {
      transform: scaleX(1); }
    .task_category_btn .cat-active {
      margin: 10px;
      width: 124px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /* 142.857% */
      letter-spacing: 0.1px;
      border: none;
      cursor: pointer;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      transition-property: color;
      transition-duration: 0.3s;
      background: red !important; }
  .task_color {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
  .task_title_color {
    display: flex;
    align-items: center; }
    .task_title_color h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 10px; }
  .task_color_btn {
    display: flex; }
    .task_color_btn span {
      margin-right: 10px;
      border-radius: 10px;
      cursor: pointer;
      width: 40px;
      height: 40px; }
      .task_color_btn span:hover {
        border: 2px solid red; }
    .task_color_btn .color-active {
      border: 2px solid red;
      width: 35px;
      height: 35px; }
  .task_notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; }
  .task_input_clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: 15px 20px 15px 16px;
    border: none;
    border-bottom: 1px solid #000;
    width: 200px;
    margin-bottom: 35px;
    background: none;
    color: var(--colors-light-gray, rgba(133, 133, 133, 0.99));
    font-family: "Roboto", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
    .task_input_clock:focus {
      outline: 0;
      border-bottom: 1px solid #03a9f4;
      box-shadow: none;
      background-color: rgba(238, 238, 238, 0.68); }
  .task_list {
    margin-left: 20px;
    width: 800px;
    background: #00bcd421;
    border-radius: 10px;
    padding: 20px; }
    .task_list li {
      display: flex;
      padding: 5px;
      color: black;
      font-size: 20px;
      justify-content: space-between;
      align-items: center; }
  .task_button {
    width: 315px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .task_button button, .task_button span {
      width: 140px;
      height: 60px;
      display: flex;
      padding: 19px 44px;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      border: 1px solid var(--colors-pink, #ED627D);
      color: var(--colors-pink, #ED627D);
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: none;
      cursor: pointer; }
      .task_button button:hover, .task_button span:hover {
        color: #FFF;
        text-align: center;
        font-family: "Roboto", 'sans-serif';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #299CAA; }

.category-block {
  display: flex;
  flex-direction: column; }

.categories {
  display: flex; }
  .categories_container {
    width: 900px;
    border: 5px solid var(--colors-purple, #AB68FF);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; }
  .categories_edit {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px; }
  .categories_container_list_color {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start; }
    .categories_container_list_color img {
      width: 24px;
      height: 24px;
      margin-right: 10px; }
    .categories_container_list_color span {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      border: 2px solid wheat; }
  .categories_container_list {
    display: flex;
    width: 800px;
    padding: 10px;
    flex-direction: column; }
    .categories_container_list ol {
      padding: 20px; }
      .categories_container_list ol li {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px; }
  .categories_list_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .categories_list_items h3 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px; }
    .categories_list_items p {
      color: var(--colors-gray, rgba(0, 0, 0, 0.8));
      font-family: "Roboto", 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .categories_clock {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between; }
  .categories_clock_item_1 {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .categories_clock_item_1 img {
      margin-right: 15px; }
    .categories_clock_item_1 input {
      margin-left: 15px; }

.palette {
  height: 600px;
  width: 600px;
  position: relative;
  overflow: hidden; }

.palette > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 150px solid var(--c, red);
  border-radius: 50%;
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 33.745%); }

.color1 {
  transform: rotate(72deg);
  --c: blue; }

.color2 {
  transform: rotate(144deg);
  --c: orange; }

.color3 {
  transform: rotate(-72deg);
  --c: green; }

.color4 {
  transform: rotate(-144deg);
  --c: purple; }

.navHome {
  width: 1151px;
  margin: 0 auto;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .navHome__logo {
    width: 138px;
    height: 43px; }
  .navHome__btn_content {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; }
@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1); }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    transform: scale(1.1); } }
  .navHome__btn {
    width: 148px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #ED627D;
    padding: 0 26px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ED627D;
    cursor: pointer; }
    .navHome__btn:hover {
      background: #299CAA;
      animation: myAnim 1s ease 0s 1 normal forwards; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  padding-top: 35px; }

.nav {
  width: 1193px;
  height: 43px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center; }
  .nav a {
    width: 93px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--colors-gray, rgba(0, 0, 0, 0.8));
    font-family: "Roboto", 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer; }
  .nav a img {
    width: 24px;
    height: 24px; }

/*# sourceMappingURL=style.css.map */
