* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 14px;
  background: #0E1014;
  color: white;

}
a{
  text-decoration: none;
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}






