* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body {
  background: #FFF;

}
.wrapper{
  display: flex;
  flex-direction: row;

}

.content{
  width: calc(100% - 200px);
  background: white;
  width: calc(100% - 200px);
  height: 100vh;


}






