.home{
  &_news_items {
    width: calc(100% / 2 - 5px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;
    height: 450px;


  }
}