.blockFive {
  width: 1427px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  h2 {
    color: #673F1B;
    width: 1243px;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }


  &_content {
    display: flex;
    flex-direction: column;
  }

  &_content_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: 400px;
      height: 314px;
      object-fit: cover;
      margin: 17px;
      border-radius: 20px;
    }
  }
}
