//button {
//  opacity: 0.502;
//  width: 180px;
//  height: 35px;
//  background-color: rgba(22, 21, 29, 0.5019607843137255);
//  border: none;
//  color: white;
//  cursor: pointer;
//  margin-top: 50px;
//  transition: border 0.3s;
//  &:hover {
//    border: 1px solid white;
//  }
//}


.btn-21 {
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  width: 245px;
  height: 45px;
  position: relative;
  color: #bbb;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 0px;
  margin: 5px;
  background: transparent;
  padding: 5px;
  overflow: hidden;
  border: none;
}
.btn-21:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #bbb);
  animation: btn-21-left 2s linear infinite;
  transition: 0.5s ease-in-out;
}
.btn-21:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #bbb);
  animation: btn-21-top 2s linear infinite;
  animation-delay: 1s;
  transform: translateY(-100%);
}
.btn-21 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
}
.btn-21 span:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #bbb);
  animation: btn-21-right 2s linear infinite;
}
.btn-21 span:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 12px;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #bbb);
  animation: btn-22-bottom 2s linear infinite;
  animation-delay: 1s;
  transform: translateY(-100%)
}
.btn-21:hover:before {
  background: linear-gradient(to left, transparent, red);
}
.btn-21:hover:after {
  background: linear-gradient(to top, transparent, red);
}
.btn-21 span:hover:before {
  background: linear-gradient(to bottom, transparent, red);
}
.btn-21 span:hover:after {
  background: linear-gradient(to right, transparent, red);
}
.btn-21:hover {
  color: red;
}
.btn-21:active:before {
  background: linear-gradient(to left, transparent, #00a7fc);
}
.btn-21:active:after {
  background: linear-gradient(to top, transparent, #00a7fc);
}
.btn-21 span:active:before {
  background: linear-gradient(to bottom, transparent, #00a7fc);
}
.btn-21 span:active:after {
  background: linear-gradient(to right, transparent, #00a7fc);
}
.btn-21:active {
  color: #00a7fc;
}
@keyframes btn-21-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes btn-21-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes btn-21-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes btn-21-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}