.blog {
  width: 100%;
  background-color: #ffffff;
  padding-top: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &_title {
    width: 100%;
    text-align: center;
    padding-bottom: 120px;

    & h2 {
      font-size: 50px;
      letter-spacing: 1px;
      line-height: 80px;
      color: #4a4a4a;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      text-align: center;

    }

    & p {
      font-size: 20px;
      letter-spacing: 0px;
      line-height: 25px;
      color: #616161;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
  }

  &_container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

  }

  &_item {
    width: 0;
    flex-grow: 2;
    text-align: center;
    transition: all 0.3s;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;


    &:nth-child(2){
      flex-grow: 1;
    }
    &:nth-child(3){
      margin-right: 0;
      flex-grow: 1;
      flex-direction: column-reverse;
    }

  }
  &_img{
    width: 100%;
    margin-bottom: 70px;
    transition: all 0.3s;
    box-shadow: rgba(239, 216, 183, 0.52) 0px 12px 20px 0px;
    &:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
      height: 210px;
    }
    &:hover{
      cursor: pointer;
      transition: all 0.3s;
      transform: scale(1.1);
      box-shadow: rgba(183, 123, 33, 0.52) 0px 12px 20px 0px;
      z-index: 2;
    }
  }
  &_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_figure{
    margin-top: 25px;
    width: 100%;

  }

&_item_title{
text-align: center;
  background-color: #ffffff;
  padding: 25px;
  & h3{
    font-size: 20px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
  }
  & p{
    width: 217px;
    height: 91px;
    font-size: 16px;
    line-height: 25px;
    color: #757575;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }
}


}