.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1900px;
  padding: 58px;
  h3{
    color: #000;

    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}