.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1920px;
  padding-top: 77px;
  border-radius: 15px;
  background: url("#{$path}images/gummy.png"),
  url("#{$path}/images/bear.png"),
  url("#{$path}images/bear.png"),
  url("#{$path}images/bear.png"),
  url("#{$path}images/bear-bot.png"),
  url("#{$path}images/bear.png"),
  url("#{$path}images/bear.png"),
  url("#{$path}images/bear.png"),
  url("#{$path}images/bear-bot.png"),
  url("#{$path}images/bear_footer.png"),
  url("#{$path}images/bear_footer.png"),
  url("#{$path}images/bear_footer.png"),
  url("#{$path}images/bear_footer.png"),

  url("#{$path}images/Rectangle1.png"),
  url("#{$path}images/Rectangle2.png"),
  url("#{$path}images/Rectangle3.png"),
  url("#{$path}images/Rectangle4.png"),
  url("#{$path}images/Rectangle5.png");
  background-size: 187.412px 340.566px rotate(-17.972deg),
  122.288px 122.288px,
  122.288px 122.288px,
  122.288px 122.288px,
  206.885px 375.952px rotate(25.084deg),
  122.288px 122.288px,
  122.288px 122.288px,
  122.288px 122.288px,
  84.035px 137.01px,
  678px  678px,
  678px  678px rotate(20.96deg),
  678px  678px,
  678px  678px,
  1920px 1132px,
  1920px 1763px,
  1920px 1358.5px,
  1920px 1396.5px,
  1920px 2809px;
  background-position: -3% -1%,
  67% 1%,
  74% 0%,
  71% 7%,
  63% 7.2%,
  76% 36%,
  83% 38.4%,
  80% 34.3%,
  78% 32.2%,
  15% 88.8%,
  22% 98.8%,
  13% 92.8%,
  43% 90.8%,
  1% 0%,
  1% 15%,
  1% 39%,
  1% 57%,
  1% 100%;
  background-repeat: no-repeat;
}











