.footer{
  width: 1141px;
  height: 315px;
  flex-shrink: 0;
  padding-top: 55px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:nth-child(2){
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    &:nth-last-child(1){
      align-items: flex-end;
    }
    h5{
      color: var(--dark-gray, #656566);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    a{
      color: var(--light-text, #E4E5EA);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
    }
  }
  &_item_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 52px;
  }
  &_contact{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_item_foot{
    margin-top: 70px;
    p{
      color: var(--light-text, #E4E5EA);
      text-align: right;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}