.header_slider{
  width: 800px;

  margin: 115px auto 0 auto;
  text-align: center;


  & h2{
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat",sans-serif;
    text-align: center;
  }
& p{
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat",sans-serif;
  text-align: center;
}




}
.owl-nav  {
  display: block!important;
  color: white;
  font-size: 35px;
}