.palette {
  height: 600px;
  width: 600px;
  position: relative;
  overflow: hidden;
}
.palette > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 150px solid var(--c, red);
  border-radius: 50%;
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 33.745%);
}
.color1 {
  transform: rotate(72deg);
  --c: blue;
}
.color2 {
  transform: rotate(144deg);
  --c: orange;
}
.color3 {
  transform: rotate(-72deg);
  --c: green;
}
.color4 {
  transform: rotate(-144deg);
  --c: purple;
}


