.categories {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 30px auto;
  max-height: 100vh;
  overflow-y: auto;
  width: 1100px;
  background: azure;
  border-radius: 10px;
  border: 1px solid grey;



  h2{
    text-align: center;
  }

  &_container {
    width: 900px;
    border: 5px solid var(--colors-purple, #AB68FF);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;




    button{
      display: inline-block;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
      color: red;
      transition-property: color;
      transition-duration: 0.3s;
      cursor: pointer;
      width: 70px;
      height: 30px;
      text-align: center;
      padding: 7px;
      border-radius: 10px;
      border: 1px solid red;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #299CAA;
        border-radius: 100%;
        transform: scale(0);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      &:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
        color: white;
        border: none;
      }
      &:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
        transform: scale(2);

      }
    }

  }



  &_edit {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
  }

  &_container_list_color {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    span {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      border: 2px solid wheat;
    }
  }

  &_container_list {
    display: flex;
    width: 800px;
    padding: 10px;
    flex-direction: column;

    ol {
      padding: 20px;

      li {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

      }
    }
  }


  &_list_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    h3 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }

    p {
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &_list_items_title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    //margin-bottom: 5px;

  }

  &_clock {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
  }

  &_clock_item_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin-right: 15px;
    }

    input {
      margin-left: 15px;
    }
  }

}


//
//&_container_list_item {
//  width: 1160px;
//  height: 240px;
//  display: flex;
//  margin-bottom: 130px;
//  margin-right: 25px
//}
//&_container_list_item_1 {
//  width: 70px;
//  height: 240px;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: space-between;
//
//
//  img {
//    width: 70px;
//    height: 70px;
//    object-fit: cover;
//  }
//}
//&_container_list_item_2 {
//  margin-left: 56px;
//
//  img {
//    margin-right: 12px;
//  }
//}
//&_container_list_item_2_item {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: flex-start;
//  margin-bottom: 20px;
//  align-items: center;
//
//  p{
//    color: var(--colors-gray, rgba(0, 0, 0, 0.80));
//    font-family: "Roboto", 'sans-serif';
//    font-size: 24px;
//    font-style: normal;
//    font-weight: 400;
//    line-height: normal;
//  }
//}