.task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("#{$path}image/task/Vector1.png"),
  url("#{$path}image/task/Vector2.png"),
  url("#{$path}image/task/Desk_calendar1.png"),
  url("#{$path}image/task/Desk_calendar 2.png"),
  url("#{$path}image/task/Desk_calendar3.png"),
  url("#{$path}image/task/Desk_calendar4.png");
  background-repeat: no-repeat;
  background-position: -3% 0, 102% 0, 22% 5%, 77% 0, 17% 77%, 65% 101%;
  background-size: 1171px 1063px,
  321px 1024px,
  120.684px 120.684px,
  120.684px 120.684px,
  120.684px 120.684px,
  120.684px 120.684px;


  &_header {
    display: flex;
    width: 100%;
    //height: 106px;
    padding-top: 37px;

  }

  &_header_content {
    width: 400px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 220px;

    h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 12px;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }


  &_title {
    display: flex;
    margin-left: 40px;

  }

  &_container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &_form_item1_title {
    border: 1px solid;
    width: 152px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

  }

  &_form {
    border: 1px solid;
    margin-top: 20px;
  }


  &_input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: 15px 65px 15px 16px;
    border: none;
    border-bottom: 1px solid #000;
    width: 500px;
    margin-bottom: 35px;
    background: none;

    color: var(--colors-light-gray, rgba(133, 133, 133, 0.99));
    font-family: "Roboto", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus {
      outline: 0;
      border-bottom: 1px solid #03a9f4;
      box-shadow: none;
      background-color: rgba(238, 238, 238, 0.68);

    }

  }



  &_category_btn{
    margin-top: 19px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span{
      width: 124px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1dd0a5;
      color: #FFF;
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
      border: none;
      cursor: pointer;
      img{
        margin-right: 8px;
      }
      &:nth-child(1){
        background: var(--colors-yellow, #F5C75A);
      }
      &:nth-child(2){
        background: var(--colors-purple, #AB68FF);
      }
      &:nth-child(3){
        background: var(--colors-green, #299CAA);
      }
      &:nth-child(4){
        width: 160px;
        background: var(--colors-pink, #ED627D);
      }
    }
  }

  &_notes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &_input_clock{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: 15px 20px 15px 16px;
    border: none;
    border-bottom: 1px solid #000;
    width: 200px;
    margin-bottom: 35px;
    background: none;

    color: var(--colors-light-gray, rgba(133, 133, 133, 0.99));
    font-family: "Roboto", 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus {
      outline: 0;
      border-bottom: 1px solid #03a9f4;
      box-shadow: none;
      background-color: rgba(238, 238, 238, 0.68);

    }
  }

}


.category-block {
  display: flex;
  flex-direction: column;
}

.cat-active {
  background: red !important;
}