.task {
  width: 100%;
  display: flex;
  background-image: url("#{$path}image/task/Vector1.png"),
  url("#{$path}image/task/Vector2.png"),
  url("#{$path}image/task/Desk_calendar1.png"),
  url("#{$path}image/task/Desk_calendar 2.png"),
  url("#{$path}image/task/Desk_calendar3.png"),
  url("#{$path}image/task/Desk_calendar4.png")
;
  background-repeat: no-repeat;
  background-position: 24% 0, 103% 0, 22% 5%, 77% 0, 17% 77%, 65% 101%;
  background-size: 1171px 1063px,
  321px 1024px,
  120.684px 120.684px,
  120.684px 120.684px,
  120.684px 120.684px,
  120.684px 120.684px;


  aside{
    //height: 950px;
  }

  &_main {
    //width: calc(100% - 200px);
    //height: 100vh;
  }


  &_header {
    display:flex;
    width: 100%;
    //height: 106px;
    padding-top: 37px;

  }
  &_header_content{
    width: 400px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 220px;
    h4{
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 12px;
    }

    img{
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
    button{
      border: none;
      background: none;
      cursor: pointer;
    }
  }


  &_title {
    display:flex;
    margin-left: 40px;

  }

  &_container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  &_form{
    max-width: 100%;
    height: 623px;
    margin: 95px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_form_content{
    width: 1244px;
    height: 493px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid;
  }
  &_form_item1{
    width: 589px;
    height: 493px;
    margin-right: 115px;
  }
  &_form_item1_title{
    width: 152px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

  }

  &_form_item1_button{
    margin-top: 19px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button{
      width: 124px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
      border: none;
      cursor: pointer;
      img{
        margin-right: 8px;
      }
      &:nth-child(1){
        background: var(--colors-yellow, #F5C75A);
      }
      &:nth-child(2){
        background: var(--colors-purple, #AB68FF);
      }
      &:nth-child(3){
        background: var(--colors-green, #299CAA);
      }
      &:nth-child(4){
        width: 160px;
        background: var(--colors-pink, #ED627D);
      }
    }
  }

  &_input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    input{
      display: flex;
      height: 50px;
      padding: 15px 65px 15px 16px;
      align-items: center;
      border: none;
      border-bottom: 1px solid #000;
      width: 552px;
      margin-bottom: 35px;
      background: none;
    }
  }

  &_input_clock{
    width: 540px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
      width: 96px;
      height: 45px;
      border-radius: 10px;
      border: 1px solid #000;
      color: var(--colors-light-gray, rgba(133, 133, 133, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 12px;
      background: none;
    }
    h4{
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &_form_item2{
    display: flex;
    width: 540px;
    height: 493px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;


  }


  &_notification{
    width: 161px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    h4{
      color: var(--colors-gray, rgba(0, 0, 0, 0.80));
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 12px;
    }
  }
  &_radiobtn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &_radiobtn_input{
    display: flex;
    width: 138px;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
    input{
      cursor: pointer;
    }
    label{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
    }

    img{
      margin-left: 10px;
      margin-right: 2px;
    }
  }


  &_form_item2_title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    span{
      width: 40px;
      height: 40px;
      border: 1px solid #000000;
      border-radius: 10px;
      cursor: pointer;
      //&:nth-child(1){
      //  background: var(--colors-gray, rgba(0, 0, 0, 0.80));
      //}
      //&:nth-child(2){
      //  background: var(--colors-light-gray, rgba(133, 133, 133, 0.80));
      //}
      //&:nth-child(3){
      //  background: var(--light-gray-2, #E0E0E0);
      //}
      //&:nth-child(4){
      //  background: var(--colors-pink, #ED627D);
      //}
      //&:nth-child(5){
      //  background: var(--colors-purple, #AB68FF);
      //}
      //&:nth-child(6){
      //  background: var(--colors-yellow, #F5C75A);
      //}
      //&:nth-child(7){
      //  background: var(--colors-green, #299CAA);
      //}
      //&:nth-child(8){
      //  background: var(--colors-light-green, #78BDC6);
      //}
      &:hover{
        width: 30px;
        height: 30px;
      }

    }
  }
  &_form_item2_todolist{
    margin-top: 35px;
    button{
      width: 134px;
      height: 28px;
      display: flex;
      border: none;
      background: none;
      align-items: center;
      justify-content: space-around;
      h4{
        color: var(--colors-gray, rgba(0, 0, 0, 0.80));
        font-family: "Roboto", 'sans-serif';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &_form_item2_textarea1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    textarea{
      display: flex;
      width: 504px;
      height: 170px;
      align-items: flex-start;
      border-radius: 10px;
      border: 1px solid #000;
      padding-left: 17px;
      padding-top: 48px;
      background: none;
    }
  }

  &_form_item2_textarea2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    textarea{
      display: flex;
      width: 504px;
      height: 170px;
      align-items: flex-start;
      border-radius: 10px;
      border: 1px solid #000;
      padding: 17px;
      background: none;
    }
  }


  &_form_item2_textarea_content{
    position: relative;


  }

  &_form_item2_btn{
    width: 132px;
    height: 24px;
    position: absolute;
    top: 5px;
    left: 19px;

    button{
      border: none;
      background: none;
      cursor: pointer;
      margin-right: 12px;
      &:nth-last-child(1){
        margin-right: 0;
      }
      img{
        width: 24px;
        height: 24px;
      }
    }
  }

  &_button{
    width: 315px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      width: 140px;
      height: 60px;
      display: flex;
      padding: 19px 44px;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      border: 1px solid var(--colors-pink, #ED627D);
      color: var(--colors-pink, #ED627D);
      text-align: center;
      font-family: "Roboto", 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: none;

      &:hover{
        color: #FFF;
        text-align: center;
        font-family: "Roboto", 'sans-serif';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #299CAA;
      }

    }
  }

}

.category_select {
  width: 500px;
}

.category_create {
  display: flex;
  justify-content: space-between;
}



//toggle
.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-label {
  margin-left: 10px;
  color: var(--colors-gray, rgba(0, 0, 0, 0.80));
  font-family: "Roboto", 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 32px;
  border-radius: 100px;
  background: var(--colors-green, #299CAA);
  cursor: pointer;

}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 16px;
  height: 16px;
  background-color: #938282;
  border-radius: 50%;
  transition: 0.3s;
  border: 1px solid;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-slider {
  transform: translateX(30px);
  background: var(--colors-green, #ffffff);
  width: 28px;
  height: 28px;
  top: 2px;
  left: 0;
  border: none;

}




.form-applicant-list{
  width: 100%;
  height: 100vh;
}
