@font-face {
  font-family: 'Open Sans';
  src: url('#{$fonts}OpenSans-SemiBold.eot');
  src: url('#{$fonts}OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}OpenSans-SemiBold.woff2') format('woff2'),
  url('#{$fonts}OpenSans-SemiBold.woff') format('woff'),
  url('#{$fonts}OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('#{$fonts}Raleway-Regular.eot');
  src: url('#{$fonts}Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}Raleway-Regular.woff2') format('woff2'),
  url('#{$fonts}Raleway-Regular.woff') format('woff'),
  url('#{$fonts}Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('#{$fonts}Raleway-Light.eot');
  src: url('#{$fonts}Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}Raleway-Light.woff2') format('woff2'),
  url('#{$fonts}Raleway-Light.woff') format('woff'),
  url('#{$fonts}Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$fonts}OpenSans-Bold.eot');
  src: url('#{$fonts}OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}OpenSans-Bold.woff2') format('woff2'),
  url('#{$fonts}OpenSans-Bold.woff') format('woff'),
  url('#{$fonts}OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$fonts}OpenSans-Regular.eot');
  src: url('#{$fonts}OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}OpenSans-Regular.woff2') format('woff2'),
  url('#{$fonts}OpenSans-Regular.woff') format('woff'),
  url('#{$fonts}OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('#{$fonts}Raleway-Bold.eot');
  src: url('#{$fonts}Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}Raleway-Bold.woff2') format('woff2'),
  url('#{$fonts}Raleway-Bold.woff') format('woff'),
  url('#{$fonts}Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
