.design {
  width: 100%;
  background-color: #0c110c;
  background-image: url("#{$img}u25_state0.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: center;
  padding-top: 65px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  &_title {
    width: 100%;
    text-align: center;
    padding-bottom: 70px;

    & h2 {
      font-size: 36px;
      color: #ffffff;
      font-family: "Raleway",sans-serif;

      &:after {
        content: "";
        display: block;
        padding-top: 25px;
        width: 70px;
        border-bottom: 2px solid #ffffff;
        margin: 0 auto;
      }
    }

    & p {
      font-size: 16px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Raleway",sans-serif;
      padding-top: 30px;
    }
  }



}