.features {
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 140px;
  padding-bottom: 110px;
  display: flex;


  &_container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &_item p {
    padding-top: 55px;
    width: 480px;
    padding-bottom: 45px;

  }

  &_item_bloke {
    width: 100px;
    height: 110px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    background-color: #333333;

    &:hover {
      cursor: pointer;
      background-color: #ff8b38;
    }
  }

}